
# Created by https://www.gitignore.io/api/terraform

### Terraform ###
# Compiled files
*.tfstate
*.tfstate.*

# Module directory
.terraform/

.idea
.vscode

# End of https://www.gitignore.io/api/terraform